<div class="sidebar" [class.dark]="isDarkMode" [class.collapsed]="isCollapsed">
  <!-- HEADER -->
  <div class="sidebar-header">
    @if (utente) {
    <div class="avatar-wrapper" (click)="navigateToProfile()" style="cursor: pointer;">
      <img class="avatar" [src]="`http://localhost:8080/${utente.filePathLogo}` || 'assets/default-avatar.png'" alt="">
    </div>
    <div class="user-info" (click)="navigateToProfile()" style="cursor: pointer;">
      <div class="user-name">{{utente.nome}} {{utente.cognome}}</div>
      <div class="user-role">{{utente.ruolo.nome}}</div>
    </div>
    } @else {
    <div class="loading-placeholder">
      <div class="skeleton-avatar"></div>
      <div class="skeleton-text"></div>
    </div>
    }
  </div>

  <!-- MENU -->
  <div class="sidebar-menu">
    @for (item of menuItems; track item.id) {
    <div class="menu-item" [class.active]="activeItem === item.id" (click)="setActiveItem(item.id, $event)">
      <fa-icon [icon]="item.icon"></fa-icon>
      <span>{{item.label}}</span>
    </div>
    }
  </div>

  <!-- BOTTOM ACTIONS -->
  <div class="sidebar-bottom">
    <div class="menu-item" (click)="logout()">
      <fa-icon [icon]="faSignOutAlt"></fa-icon>
      <span>Log Out</span>
    </div>

    <div class="toggle-theme">
      <fa-icon [icon]="getThemeIcon()" (click)="toggleTheme()"></fa-icon>

      <span *ngIf="!isCollapsed">
        {{isDarkMode ? 'Modalità Scura' : 'Modalità Chiara'}}
      </span>

      <label class="switch" *ngIf="!isCollapsed">
        <input type="checkbox" [checked]="isDarkMode" (change)="toggleTheme()">
        <span class="slider"></span>
      </label>
    </div>

    <div class="toggle-collapse" (click)="toggleSidebar()">
      <fa-icon [icon]="isCollapsed ? faAngleDoubleRight : faAngleDoubleLeft"></fa-icon>
      <span>{{isCollapsed ? 'Espandi' : 'Restringi'}}</span>
    </div>
  </div>
</div>