.calendar-wrapper {
  padding: 12px;
}

:host ::ng-deep .fc {
  border-radius: 14px;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,0.12);
  background: #fff;
}

:host ::ng-deep .fc-toolbar {
  padding: 10px 12px;
}

:host ::ng-deep .fc-view-harness {
  padding: 10px 12px;
}

:host ::ng-deep .fc-event {
  border-radius: 10px;
  padding: 2px 4px;
  border-width: 1px;
  font-weight: 700;
}

:host ::ng-deep .fc-event-title {
  font-weight: 700;
}

:host ::ng-deep .fc-event-time {
  opacity: 0.9;
  font-weight: 700;
}

