.home-container {
  display: flex; /* affianca sidebar e contenuto */
  min-height: 100vh;
}

.sidebar {
  width: 280px; /* larghezza sidebar estesa */
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 85px; /* larghezza sidebar collassata */
}

.main-content {
  flex: 1; /* occupa tutto lo spazio restante */
  padding: 20px;
  background: #eee; /* o il tuo tema */
  transition: margin-left 0.3s ease;
}
